<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<title>Tạo hóa đơn</title>

	<!--Jquery.js-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" crossorigin="anonymous"
		referrerpolicy="no-referrer"></script>
	<!-- Add Popper.js -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		crossorigin="anonymous"></script>
	<!-- Bootstrap JS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


	<link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
	<link href="/css/401.css" rel="stylesheet" />
	<script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
		crossorigin="anonymous"></script>
	<script src="/asset/js/scripts.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js"
		crossorigin="anonymous"></script>
	<script src="/asset/js/datatables-simple-demo.js"></script>
	<script src="/js/admin-cart-bill.js"></script>
	<script src="/js/admin-menu.js"></script>
</head>

<body class="sb-nav-fixed">

	<!--Thanhmenu-->
	<nav class="sb-topnav navbar navbar-expand navbar-dark" style="background-color: #cd1818;">
		<!-- Navbar Brand-->
		<a class="navbar-brand ps-3" href="/home">VnMobile</a>
		<!-- Sidebar Toggle-->
		<button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i
				class="fas fa-bars"></i></button>
		<!-- Navbar Search-->
		<form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
			<div class="input-group">
				<input class="form-control-sm" type="text" placeholder="Bạn cần tìm gì?" aria-label="Search for..."
					aria-describedby="btnNavbarSearch" />
				<button class="btn btn-dark btn-sm" id="btnNavbarSearch" type="button"><i
						class="fas fa-search"></i></button>
			</div>
		</form>
		<!-- Navbar-->
		<ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle d-flex align-items-center" id="navbarDropdown" href="#" role="button"
					data-bs-toggle="dropdown" aria-expanded="false">
					<div class="avatar-container"
						style="width: 30px; height: 30px; overflow: hidden; border-radius: 50%;">
						<img id="userAvatar" class="avatar" style="width: 100%; height: auto; object-fit: cover;"
							src="/img/avatar/me.jpg" alt="Avatar">
					</div>
					<span id="userfullName" class="ms-2 text-white">Hoàng Văn An</span>
				</a>
				<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
					<li><a class="dropdown-item" href="/profile"><i class="fa-solid fa-user"></i> Tài khoản</a></li>
					<li><a class="dropdown-item" href="/notifycation"><i class="fa-solid fa-bell"></i> Thông báo</a>
					</li>
					<li>
						<hr class="dropdown-divider" />
					</li>
					<li>
						<a id="logoutUser" style="color: red;" class="dropdown-item" href="#!">
							<i class="fa-solid fa-right-from-bracket"></i> Đăng xuất
						</a>
					</li>
				</ul>
			</li>
		</ul>
	</nav>
	<!--End-->

	<div id="layoutSidenav">

		<!--Menu ngang-->
		<div id="layoutSidenav_nav">
			<nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
				<div class="sb-sidenav-menu">
					<div class="nav">
						<div class="sb-sidenav-menu-heading">Chính</div>
						<a class="nav-link" href="/admin-dashboard">
							<div class="sb-nav-link-icon"><i class="fa-solid fa-house"></i></div>
							Trang chính
						</a>
						<div class="sb-sidenav-menu-heading">Quản lí</div>
						<a class="nav-link" href="/admin-product">
							<div class="sb-nav-link-icon"><i class="fa-solid fa-bag-shopping"></i></div>
							Quản lí mặt hàng
						</a>
						<a class="nav-link" href="/admin-category">
							<div class="sb-nav-link-icon"><i class="fa-solid fa-list"></i></div>
							Quản lí danh mục
						</a>
						<a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
							data-bs-target="#collapseProducts" aria-expanded="false" aria-controls="collapsePages">
							<div class="sb-nav-link-icon"><i class="fa-solid fa-warehouse"></i></div>
							Quản lí kho hàng
							<div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
						</a>
						<div class="collapse" id="collapseProducts" aria-labelledby="headingOne"
							data-bs-parent="#sidenavAccordion">
							<nav class="sb-sidenav-menu-nested nav">
								<a class="nav-link" href="/admin-supplier">Nhập hàng</a>
								<a class="nav-link" href="/admin-supplier-bill">Hóa đơn nhập hàng</a>
							</nav>
						</div>
						<a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
							data-bs-target="#collapseAccount" aria-expanded="false" aria-controls="collapsePages">
							<div class="sb-nav-link-icon"><i class="fa-solid fa-circle-user"></i></div>
							Quản lí tài khoản
							<div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
						</a>
						<div class="collapse" id="collapseAccount" aria-labelledby="headingOne"
							data-bs-parent="#sidenavAccordion">
							<nav class="sb-sidenav-menu-nested nav">
								<a class="nav-link" href="/admin-account">Danh sách tài khoản</a>
								<a class="nav-link" href="/404">Danh sách nhân viên</a>
							</nav>
						</div>
						<a class="nav-link" href="/admin-order">
							<div class="sb-nav-link-icon"><i class="fa-solid fa-cart-shopping"></i></div>
							Quản lí đơn hàng
						</a>

						<div class="sb-sidenav-menu-heading">BÁO CÁO</div>
						<a class="nav-link" href="/admin-order-report">
							<div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
							Thống kê đơn hàng
						</a>
						<a class="nav-link" href="/admin-product-report">
							<div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
							Thống kê sản phẩm
						</a>
						<a class="nav-link" href="/admin-supplier-report">
							<div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
							Thống kê nhập hàng
						</a>
					</div>
				</div>
			</nav>
		</div>
		<!--end-->

		<div id="layoutSidenav_content">
			<main>
				<div class="container-fluid px-4">
					<h1 class="mt-4">Tạo hóa đơn</h1>
					<ol class="breadcrumb mb-4">
						<li class="breadcrumb-item"><a href="index.html">Trang chính</a></li>
						<li class="breadcrumb-item active">Tạo hóa đơn</li>
					</ol>
					<div class="mb-3 d-flex">
						<h4>Nhà cung cấp đã chọn: <span id="supplierNameChoose"></span></h4>
						<button id="backPage" class="btn btn-success btn-sm col-sm-3 ms-auto"><i
								class="fa-solid fa-plus"></i> Bổ sung hóa đơn</button>
					</div>
					<div class="mb-4">
						<div class="mb-4">
							<div class="row">
								<div class="col-lg-9">
									<div id="cartTable" class="table-responsive">
										<h3 id="cartItemQuantity"></h3>
										<table class="table table-striped table-hover">
											<thead>
												<tr>
													<th class="text-center" scope="col">
														<input id="allCartItemChecked" name="allCartItemChecked"
															type="checkbox"
															aria-label="Checkbox for following text input">
													</th>
													<th style="min-width: 150px;" scope="col">Ảnh</th>
													<th style="min-width: 150px;" scope="col">Chi tiết</th>
													<th style="min-width: 150px;" scope="col">Số lượng</th>
													<th style="min-width: 150px;" class="text-center" scope="col">Giá cơ
														bản</th>
													<th style="min-width: 150px;" class="text-center" scope="col">
														<button id="deleteAllCartItem" class="btn btn-sm btn-danger">
															Xóa tất cả
														</button>
													</th>
												</tr>
											</thead>

											<tbody id="cartItemColumn">
											</tbody>
										</table>
									</div>
								</div>

								<div class="col-lg-3">
									<div class="card bg-light mb-3">
										<div class="card-header bg-danger text-white text-uppercase"><i
												class="fa-solid fa-cart-shopping"></i> Hóa đơn</div>
										<div class="card-body">
											<p class="name" style="color: black; font-size: 1em">
												<strong>Số mặt hàng đã chọn: <span
														id="checkedCartIemquantity"></span></strong>
											</p>
											<hr class="bg-dark mb-2 mt-0 d-inline-block mx-auto w-100">
											<div>
												<div class="form-group mb-3">
													<label class="mb-1" for="createdBillPerson">Người tạo hóa
														đơn:</label>
													<input id="createdBillPerson" class="form-control" type="text"
														disable>
												</div>
												<div class="form-group">
													<label class="mb-1" for="supplierName">Nhà cung cấp:</label>
													<input id="supplierName" class="form-control" type="text" disable>
												</div>
												<hr class="bg-dark mb-5 mt-3 d-inline-block mx-auto w-100">
												<div class="d-flex justify-content-between">
													<p class="name" style="color: black; font-size: 1.2em">
														<strong>Thành tiền:</strong>
													</p>
													<strong>
														<span id="totalCheckedCart"
															style="color: red; font-size: 1.2em;"></span>
													</strong>
												</div>
												<button id="checkoutCart" class="btn btn-danger btn-md col-md-12">
													<i class="fa fa-shopping-cart"></i> LƯU HÓA ĐƠN
												</button>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-12">
								<nav aria-label="...">
									<ul class="pagination">
										<li class="page-item disabled">
											<a class="page-link" href="#" tabindex="-1">Previous</a>
										</li>
										<li class="page-item"><a class="page-link" href="#">1</a></li>
										<li class="page-item active">
											<a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
										</li>
										<li class="page-item"><a class="page-link" href="#">3</a></li>
										<li class="page-item">
											<a class="page-link" href="#">Next</a>
										</li>
									</ul>
								</nav>
							</div>
						</div>
					</div>
			</main>

			<!--Lock Account Modal-->
			<div class="modal fade" id="cancelModal" tabindex="-1" aria-labelledby="exampleModalLabel"
				aria-hidden="true">
				<div class="modal-dialog modal-md">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">Xác nhận</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<div class="col-12 d-flex">
								<div class="mb-2">
									<i style="color: red; font-size: 2em;" class="fa-solid fa-circle-info"></i>
								</div>
								<div class="mb-3 ms-3">
									<p><strong>Bỏ sản phẩm</strong></p>
									<p>Bạn có chắc muốn bỏ sản phẩm này khỏi hóa đơn?</p>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button class="btn btn-secondary btn-md col-sm-3" data-bs-dismiss="modal">Hủy</button>
							<button id="confirmCancelBtn" class="btn btn-danger btn-md col-sm-3">Xác nhận</button>
						</div>
					</div>
				</div>
			</div>

			<!--Lock Account Modal-->
			<div class="modal fade" id="huyModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-md">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">Xác nhận</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<div class="col-12 d-flex">
								<div class="mb-2">
									<i style="color: red; font-size: 2em;" class="fa-solid fa-circle-info"></i>
								</div>
								<div class="mb-3 ms-3">
									<p><strong>Hóa đơn trống</strong></p>
									<p>Hóa đơn của bạn trống, vui lòng thêm sản phẩm vào hóa đơn</p>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button id="confirmBtn" data-bs-dismiss="modal" class="btn btn-danger">Xác nhận</button>
						</div>
					</div>
				</div>
			</div>

			<!--Confirm Modal -->
			<div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="exampleModalLabel"
				aria-hidden="true">
				<div class="modal-dialog modal-md">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">Xác nhận</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<div class="col-12 d-flex">
								<div class="mb-2" id="confirmIcon">
									<i class="fa-regular fa-circle-check"></i>
								</div>
								<div class="mb-3 ms-3">
									<strong>
										<p id="subMess"></p>
									</strong>
									<p id="confirmMess"></p>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button id="confirmBtn" data-bs-dismiss="modal" class="btn btn-success">Xác nhận</button>
						</div>
					</div>
				</div>
			</div>

			<!-- Add Bill Modal -->
			<div class="modal fade" id="addBillModal" tabindex="-1" aria-labelledby="exampleModalLabel"
				aria-hidden="true">
				<div class="modal-dialog modal-md">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">Xác nhận</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<div class="col-12 d-flex">
								<div class="mb-2" id="confirmIcon">
									<i style="color: rgb(85, 85, 255); font-size: 2em;"
										class="fa-solid fa-circle-info"></i>
								</div>
								<div class="mb-3 ms-3">
									<strong>
										<p id="subMess">Lưu hóa đơn</p>
									</strong>
									<p id="confirmMess">Xác nhận lưu hóa đơn?</p>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button id="confirmBtn" data-bs-dismiss="modal"
								class="btn btn-secondary col-sm-3">Hủy</button>
							<button id="confirmAddBillBtn" class="btn btn-success col-sm-3">Xác nhận</button>
						</div>
					</div>
				</div>
			</div>

			<!-- success Modal -->
			<div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="exampleModalLabel"
				aria-hidden="true">
				<div class="modal-dialog modal-md">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">Xác nhận</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<div class="col-12 d-flex">
								<div class="mb-2" id="confirmIcon">
									<i style="color: green; font-size: 2em;" class="fa-solid fa-circle-check"></i>
								</div>
								<div class="mb-3 ms-3">
									<strong>
										<p>Thành công!</p>
									</strong>
									<p>Lưu hóa đơn thành công, bạn có muốn xuất hóa đơn không?</p>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button id="dismissBtn" data-bs-dismiss="modal"
								class="btn btn-secondary col-sm-3">Hủy</button>
							<button id="confirmExportBill" class="btn btn-success col-sm-3">Xác nhận</button>
						</div>
					</div>
				</div>
			</div>

			<footer class="py-4 bg-light mt-auto">
				<div class="container-fluid px-4">
					<div class="d-flex align-items-center justify-content-between small">
						<div class="text-muted">Created By Hoàng Văn An 2023</div>
						<div>
							<a href="#">Privacy Policy</a>
							&middot;
							<a href="#">Terms &amp; Conditions</a>
						</div>
					</div>
				</div>
			</footer>
		</div>
	</div>
</body>

</html>